@page "/login"
@using Chapter14JWT.Client.Models
@using Microsoft.AspNetCore.Components.Forms
@inject IAuthService AuthService
@inject NavigationManager Navigation

<h3>Login</h3>
<div class="dialog">
    <div class="dialog-title">
        <h6>
            <i class="material-icons mr-3 mb-n1">login</i>
            Dominat login
        </h6>
    </div>
    <form onsubmit="return ConfirmLogin()">
        <div class="dialog-content">
            <div class="form-group">
                <label for="username">USERNAME</label>
                <input type="text" id="username" class="form-control" @bind="Username" readonly="false">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" class="form-control" @bind="Password" readonly="false">
            </div>
        </div>
        <div class="dialog-actions">
            <button type="button" onclick="Cancel()">CANCEL</button>
            <button type="submit" class="btn btn-danger">LOGIN</button>
        </div>
    </form>
</div>



@* 

<EditForm Model="userLogin" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="userLogin.Username" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="userLogin.Password" type="password" />
    </div>
    <button type="submit">Login</button>
</EditForm> *@

@code {
    private string Username { get; set; }
    private string Password { get; set; }

    private void Cancel()
    {
        // Logica per annullare l'azione
    }

    private void ConfirmLogin()
    {
        // Logica per confermare il login
    }


    // private UserLogin userLogin = new UserLogin();

    // private async Task HandleLogin()
    // {
    //     var result = await AuthService.Login(userLogin);
    //     if (result)
    //     {
    //         Navigation.NavigateTo("/");
    //     }
    //     else
    //     {
    //         // Gestisci l'errore di login
    //     }
    // }
}
